* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Outfit, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 25px 0 25px 0;
    background-color: hsla(0, 0%, 98%, 0.8);
}

.nav-bar img {
    display: inline-block;
    width: 85px;
    height: auto;
    margin-left: 7vw;
    ;
}

.search {
    margin-right: 7vw;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
}

.search p {
    display: inline;
    opacity: 0.4;
    margin: 0 4px;
}

.search input[type=textbox] {
    padding: 5px;
    background-color: transparent;
    padding: 0;
    border: 0px solid;
    outline: none;
    display: inline-block;
}

.button {
    margin: 0;
    background-color: transparent;
    border: 0px solid;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.search img {
    display: inline-block;
    width: 19px;
    height: auto;
    margin: 0 8px;
}

.button img {
    display: inline-block;
    margin: 0;
    height: auto;
    width: 19px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 45vw;
}

.nav-bar ul li a {
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    text-decoration: none;
    border-radius: 9cap;
    transition: color 0.15s, background-color 0.15s;
}

.nav-bar ul li a:hover {
    color: white;
    background-color: black;
}



@media screen and (max-width:543px) {
    .nav-bar ul {
        display: inline-block;
        text-align: center;
    }

    .navbar ul li {
        margin-top: 3px
    }

}

.box1 h1 {
    font-size: 68px;
    line-height: 84px;
    font-weight: 600;
}

.box1 p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box1 {
    width: 53vw;
    margin-left: 7%;
    margin-top: 90px;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33vw;
    margin-right: 7vw;
}

#img1 {
    width: 33vw;
}

#img2 {
    width: 10vw;
}

.container1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

@media screen and (max-width:768px) {
    .container1 {
        flex-direction: column;
    }

    .box1 {
        width: 100vw;
        margin: 7vw 0 7vw 0;
        text-align: center;
    }

    .imgs {
        width: 100vw;
    }

    .collection {
        flex-direction: column;
        margin: 0 10vw 0 10vw;
        padding-top: 20px;
    }

    .collection img {
        width: 75vw !important;
        margin-bottom: 20px;
    }
}

.shop-button {
    display: flex;
    margin-bottom: auto;
    justify-content: center;
}

.shopnow {
    width: 152px;
    height: 100px;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 29%, 100% 25%, 100% 75%, 50% 71%, 0% 75%, 0% 25%);
    transition: color 0.15s, background-color 0.15s;

}

.shopnow:hover {
    color: black;
    background-color: rgb(152, 144, 144);
    cursor: pointer;
}



.vidIcon {
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
    padding: 0;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.vidIcon:hover {
    cursor: pointer;
}

.page1 {
    background: linear-gradient(184deg, rgba(255, 255, 255, 1) 0%, #F3EFE3 49%);
    padding-bottom: 40px;
}

.page2 {
    padding-top: 40px;
    background-image: linear-gradient(180deg,
            hsl(45deg 40% 92%) 13%,
            hsl(45deg 40% 93%) 34%,
            hsl(45deg 40% 94%) 45%,
            hsl(45deg 40% 95%) 50%,
            hsl(45deg 40% 96%) 55%,
            hsl(44deg 41% 99%) 60%,
            hsl(44deg 41% 100%) 87%);
}

.page3 {
    padding-bottom: 100px;
}

.collection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10vw 0 10vw;
    padding-top: 20px;
}

.collection img {
    width: 22vw;
}

.container2 {
    color: black;
    margin-top: 180px;
    margin-left: 7vw;
}

.container2 h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 65px;
}

.container2 h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    margin-top: 50px;
}

.container2 ul {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    list-style: none;
}

.opacity ul li {
    opacity: 0.6;
    margin-bottom: 15px;
}

.opacity ul li:hover {
    opacity: 1;
    cursor: pointer;
}

.flex {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    display: flex;
    flex-direction: column;
}

.block ul {
    margin-top: 40px;
}

.block ul li {
    margin-top: 20px;
}

.jackets {
    display: flex;
    justify-content: space-between;
    margin-right: 7vw;
}

.jackets img {
    margin: 0 20px 0 20px;
}


.price {
    opacity: 0.6;
}

.add-button {
    padding: 15px;
    clip-path: polygon(0 0, 100% 0, 92% 42%, 92% 60%, 100% 100%, 0 100%, 8% 60%, 8% 42%);
    border: 9px solid black;
    border-radius: 10px;
    font-weight: bolder;
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.add-button:hover {
    color: white;
    background-color: black;
}


.item {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item ul {
    margin-left: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    flex-grow: none;
}

.frame {
    display: inline-block;
    clip-path: polygon(37% 4%, 63% 4%, 100% 0, 100% 100%, 63% 96%, 37% 96%, 0 100%, 0 0);
}

.frame img {
    width: 21vw;
    border-radius: 10px;
}


.page4 {
    background-color: rgba(240, 242, 255, 1);
    display: flex;
    padding: 100px 0 100px 0;
    justify-content: space-evenly;
    align-items: center;

}

.denim-pic {
    display: inline-block;
    width: 40vw;
}


.denim-pic img {
    width: 35vw;
}

.text {
    display: inline-block;
    width: 35vw;
    text-align: left;
}

.page4 h1 {
    margin-bottom: 20px;
}

.page5 {
    padding-top: 60px;
    width: 100vw;
    left: 0;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
}

.heading {
    font-size: 56px;
    font-weight: 600;
    line-height: 66px;
    margin-top: 80px;

}

.page5 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 14px;

}

.row1,
.row2 {
    margin: 40px 7vw 50px 7vw;
    display: flex;
    justify-content: space-between;

}

.row1 img,
.row2 img {
    width: 26vw;
}

.listing {
    width: 26vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item2 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26vw;
}

.item2 ul {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    list-style: none;
    text-align: left;
    margin-left: 10px;
}


.item2 p {
    margin: 0;
}

.container5 {
    margin: 200px 7vw 200px 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container5 h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 66px;
    text-align: left;

}

.container5 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    margin: 20px 0 20px 0;
    color: rgba(0, 0, 0, 0.7);
}

.subscribe{
    width: 152px;
    height: 100px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 29%, 100% 25%, 100% 75%, 50% 71%, 0% 75%, 0% 25%);
}
#subscribe{
    color: black;
}
.email-box p{
font-family: Outfit;
font-size: 24px;
font-weight: 500;
line-height: 33px;
color: rgb(255, 255, 255);
margin: 10px 10px 10px 10px;
}

.email-box{
    clip-path: polygon(50% 29%, 100% 25%, 100% 75%, 50% 71%, 0% 75%, 0% 25%);
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px 40px 10px;
}

.enter-email{
    width: 40vw;
}

.email-img img{
    width: 32vw;
}

@media screen and (max-width:1085px) {
    .nav-bar {
        flex-direction: column;
    }

    .nav-bar img {
        margin: 0 0 10px 0;
    }

    .nav-bar ul {
        width: 90vw;
        margin: 0;

    }

    .search {
        margin: 10px 0 0 0;
    }

    .search img {
        margin: 0 3px 0 3px;
    }


    .block ul {
        display: flex;
        justify-content: space-between !important;
        margin-top: 0px;
    }

    .block ul li {
        margin-right: 15px;
    }

    .flex {
        flex-direction: column;
        align-items: center;
    }

    .jackets {
        flex-direction: column;
    }

    .column {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .frame img {
        width: 32vw;
    }

    .frame {
        margin-bottom: 20px;
    }

    .item {
        width: 40w;
    }

    .add-button {
        margin-left: 20px;
    }

    .page4 {
        flex-direction: column;
        align-items: center;
    }

    .denim-pic img {
        width: 60vw !important;
        margin-bottom: 20px;
    }

    .denim-pic {
        width: 60vw !important;
        ;
    }

    .text {
        width: 65vw !important;
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .row1,
    .row2 {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0 !important;

    }

    .row2 {
        margin-top: 0 !important;
    }

    .listing {
        display: flex !important;
        flex-direction: row !important;
        width: 70vw !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .item2 {
        margin-top: 0 !important;
    }

    .row1 img,
    .row2 img {
        margin-bottom: 40px !important;
    }
    .container5{
        flex-direction: column;
    }
    .enter-email{
        width: 80vw;
    }
    .email-img img{
        width: 80vw;
    }

    .logo-column img{
        width: 75px!important;
    }


    

}

.footer{
    background-color: black;
    color: white;
    padding:60px 0 40px 0;
    display: flex;
    justify-content: space-between;
}

.inline-block{
    display: inline-block;
}

.logo-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7vw;
}

.logo-column img{
    width: 100px;
    margin-bottom: 20px;
}

.footer-links{
    margin-right: 7vw;
    display: flex;
    justify-content: space-evenly;
    width:60vw;
}


.footer-links p a{
    color: white;
    text-decoration: none;
}